[class|="irs-bar"] {
    background: #eb6864;
    border: #eb6864
}

[class|="irs-single"] {
    background: #eb6864;
    border: #eb6864
}

[class|="irs-from"] {
    background: #eb6864;
    border: #eb6864
}

[class|="irs-to"] {
    background: #eb6864;
    border: #eb6864
}

[class|="irs-bar-edge"] {
    background: #eb6864;
    border: #eb6864;
}

[class|='irs-slider-single'] {
    background: #eb6864;
    border: #eb6864;
}
